<div class="container">
  <div class="row">
    <div class="col s6 m6">
      <input type="text" name="nom" placeholder="nom" id="name" #name>
    </div>

    <div class="col s6 m6">
      <input type="text" name="prenom" placeholder="prenom" id="nickname" #nickname>
    </div>

    <div class="col s12 m12">
      <button (click)="onSubmitUser(name.value,nickname.value)">Submit</button>
    </div>
  </div>

  <div class="row" id="contactuser-show">
    <div *ngFor="let user of users">
      <p>Votre nom est {{user.nom}} {{user.prenom}}</p>
    </div>
  </div>
</div>
