<div class="container">
  <div class="row">
    <div class="col s6 m6">
      <input type="text" name="nom" placeholder="nom" [(ngModel)]="user.name">
    </div>

    <div class="col s6 m6">
      <input type="text" name="prenom" placeholder="prenom" [(ngModel)]="user.surname">
    </div>

    <div class="col s12 m12">
      <input type="submit" class="waves-effect waves-light light-blue darken-2 btn" value="Envoyer">
    </div>
  </div>

  <div class="row" id="contactuser-show">
    <p>Votre nom est {{user.name}} {{user.surname}}</p>
  </div>
</div>
