<div class="container">
  <div class="row">
    <div *ngFor="let item of items">
      <div class="col s6 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img src="./assets/{{item.image}}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h2>{{item.username}}</h2>
              <p>{{item.email}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6 m6">
      <label for="username">Username</label>
      <input type="text" id="username" #username>
    </div>
    <div class="col s6 m6">
      <label for="email">Email</label>
      <input type="text" id="email" #email>
    </div>

    <div class="col s12 m12">
      <label for="email">Image</label>
      <input type="text" id="image" #image>
    </div>
    <div class="col s12 m12">
      <button (click)="onSubmit(username.value,email.value,image.value)">Submit</button>
    </div>
  </div>
</div>
